body {
    background-color: aliceblue;
    text-align: center;
    margin-top: 250PX;
}
fieldset {
    border-radius: 10px;
}
#boton{
    border-radius: 5px;
    color: white;
    background-color: black;
}
input, select{
    border-radius: 10px;
}
label{
    font-size: 25px;
    font-weight: bold;
}
#parrafo{
    font-size: 30px;
    text-align: center;
    border: solid black 1px;
}
