body {
    background-image: url(https://imgs.search.brave.com/_2DzjlNjXNWniTumboK3gxDKx-D0rk3ajhC72h6Dt_w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/b25kYXMtYWd1YV8x/MDQ4LTI4NzUuanBn/P3NlbXQ9YWlzX2h5/YnJpZA);
    background-size: cover;
};

/* Archivo mystyle.css */

/* Estilo para el párrafo de consumo recomendado */
#consumo {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

/* Estilo para el párrafo de nivel de hidratación */
#consumo2 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
