<!DOCTYPE html>
<html>
<head>
    <h1>Bienvenido</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
<body>
    <h2>Muestra de Datos</h2><br>
    <form action="{{ url_for('llegada_transporte') }}" method="POST" class="container">
        <label for="Transportes">Transportes</label><br>
        <select id="Transportes" name="Transportes" width='500px'>
            {% for transporte in Transportes %}
                <option value="{{ transporte.id }}">{{transporte.numerotransporte}}, {{transporte.fechahorasalida}}</option>
            {% endfor %}
        </select>
        <br></br>
        <input class="button1" type="submit" value="Registrar Llegada"><br>
    </form>
    <br><br>
</body>
</head>
</html>