<!DOCTYPE html>
<html>
<head>
    <h1>Seleccione la accion que desea realizar</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
<body>
    <h2>Acciones</h2><br>
    <ul>
        <li> <a href = "{{ url_for('registrar_paquete' )}}">Registrar Paquete </a> </li> <br>
        <li> <a href = "{{ url_for('seleccionar_transporte' )}}">Salida de Transporte </a> </li> <br>
        <li> <a href = "{{ url_for('llegada_transporte' )}}">LLegada Transporte </a> </li> <br>
    </ul>
</body>
</head>
</html>