<!DOCTYPE html>
<html>
<head>
    <h1>Registro de Paqueteria</h1>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
<body>
    <form action="{{ url_for('registrar_paquete') }}" method="POST" class="container">
            <label for = "peso">Peso</label> <br>
            <input type="text" name = peso placeholder = "Peso"> <br>
            <label for = "nomdestinatario">Nombre</label> <br>
            <input type="text" name = nomdestinatario placeholder = "Nombre"> <br>
            <label for = "dirdestinatario">Direccion</label> <br>
            <input type="text" name = dirdestinatario placeholder = "Direccion"> <br>
        <br>
        <input type="submit" value="Registrar Paquete">
    </form>
</body>
</html>
