<!DOCTYPE html>
<html>
<head>
    <h1>Bienvenido</h1>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <h2>Lista de Sucursales</h2><br>
    <form action="{{ url_for('seleccionar_transporte') }}" method="POST" class="container">
        <label for="Sucursales">Sucursal de Destino</label><br>
        <select id="Sucursales" name="Sucursales" width='500px'>
            {% for sucursal in Sucursales %}
            <option value="{{ sucursal.id }}">{{sucursal.numero}}, {{sucursal.provincia}}, {{sucursal.localidad}}</option>
            {% endfor %}
        </select>
        <br></br>
        <label for="Paquetes">Seleccione el paquetes a transportar</label><br>
            <ul>
                {% for paquete in Paquetes %}
                <li>
                    <input type="checkbox" name="Paquetes[]" value="{{ paquete.id }}">
                    Número de envío: {{ paquete.numeroenvio }} - Dirección: {{ paquete.dirdestinatario }}
                </li>
                {% endfor %}
            </ul>
        <input class="button1" type="submit" value="Seleccionar Pedido"><br>
    </form>
    <br><br>
</body>
</head>
</html>